body {
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    width: 20%;
    transition: 0.5s;
    overflow-y: scroll;
}

.logo h2 {    
    font-size: 32px;
    margin: 10px;
    text-align: center;
}

.sidebar .nav-list {
    list-style-type: none;
    padding: 0;
}

.sidebar .nav-link {
    border-bottom: 1px solid #444;
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: #575757;
}

.sidebar .nav-link.active {
    background-color: #fff;
    color: #000;
}

.sidebar .footer {
    text-align: center;
}

.hamburger {
    background-color: #333;
    border: none;
    border-radius: 10px;
    color: #f0f0f0;
    cursor: pointer;
    display: none;
    font-size: 30px;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.content {
    width: 80%;
    padding: 20px;
    overflow-y: scroll;
}

h1 {
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: #f9fbfd;
    border: 1px solid #dfe6ee;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.card h2 {
    font-size: 24px;
    color: #34495e;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    color: #34495e;
    margin-bottom: 10px;
}

.card p, .card ul, .card ol {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.card ul, .card ol {
    padding-left: 20px;
}

.card a {
    color: #000;
    text-decoration: underline;
}

.card img {
    display: block;
    margin: auto;
    width: 70%;
}

.card .two-col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card .two-col img {
    width: 500px;
    height: 600px;
}

.card pre {
    background: #272822;
    border-radius: 5px;
    color: #f8f8f2;
    font-size: 16px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
}

.card code {
    background: #eee;
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    word-break: break-all;
}

.table-container {
    width: 90%;
    margin: 20px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #34495e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 14px;
    color: #555;
}

th, td {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .sidebar {
        width: 25%;
    }

    .content {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        width: 100%;
    }

    .sidebar.active {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .content {
        margin-top: 10px;
        width: 100%;
    }
    
    .content.hide {
        display: none;
    }
}